@(metas: List[models.Meta], semanas: List[Long])


@main("Gerenciador de Metas"){
<div class="container-fluid">
	<div class="row">
		<!--  Barra Lateral -->

		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked" style="background-color: #eee">
				<li class="active"><a href="#">Metas</a></li>
				<li><a href="/cadastro">Cadastrar Metas</a></li>
				<li><a href="/editar">Editar Metas</a></li>
			</ul>
		</div>

		<!--  Conteudo Central -->
		<div class="col-md-10">
			<div>

				@for(semana <- semanas){
				<div class="panel panel-primary">
					<div class="panel-heading">Gerenciador de  Metas </div>
						<div class="panel-body">
	  						
	  						
	    						<table class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th width="170">Data</th>
											<th>Descrição</th>
											<th width="100">Prioridade</th>
											<th width="130">Status</th>
										</tr>
									</thead>
									
									@if(!metas.isEmpty){
										<tbody>
											@for(meta <- metas){
												@if(meta.getSemana() == semana){
													@if(meta.isStatus()){
														<tr class="success">
															<td align="center">@meta.getDataFormatada()</td>
															<td>@meta.getDescricao()</td>
															<td>@meta.getPrioridadeFormatada()</td>
															<td>CONCLUÍDA</td>
														</tr>
													
													}else{
														<tr class=warning>
															<td align="center">@meta.getDataFormatada()</td>
															<td>@meta.getDescricao()</td>
															<td>@meta.getPrioridadeFormatada()</td>
															<td>ABERTA</td>
														</tr>
													}
												}
											}
										</tbody>
									}
								</table>
						</div>
					</div>
					
					}
				</div>
			</div>			
		</div>
	</div>
</div>
}
